.myWork{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.myWork span{
    animation: entry-1s infinite 4s;
    font-size: 5vmax;
}

.myWork ul{
    list-style: none;
    font-size: 10vmin;
    cursor: pointer;
}

.myWork aside{
    margin-top: 5%;
    opacity: .5;
}

@keyframes entry-1s{
    0%, 100%{
        opacity: .01;
    }
    50%{
        opacity: 1;
    }
}