.page404{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.page404 span{
    animation: entry-1s infinite 3s;
    font-size: 5vmax;
}

.page404 aside{
    margin-top: 20%;
    opacity: .5;
}

@keyframes entry-1s{
    0%, 100%{
        opacity: .01;
    }
    50%{
        opacity: 1;
    }
}